<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://httpstrigger20230815111233.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/118e5559-518e-4ae6-80a4-21138db5c374/resourcegroups/datafactory-rg447/providers/Microsoft.Web/sites/HttpsTrigger20230815111233</ResourceId>
    <UserName>$HttpsTrigger20230815111233</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://httpstrigger20230815111233.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>